body{
    width: 80%;
    margin:0 auto ;
    padding-bottom: 50%;
    background:rgb(11, 62, 80);
}

#accordion{
    width: 50%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
h1 {
    text-align: center;
    color:whitesmoke;
}

.widget{
    width: 50%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: black;
}