body{
    width: 80%;
    margin:0 auto ;
    padding-bottom: 50%;
    background:rgb(11, 62, 80);
}
#one{
    width: 80%;
    margin: 0 auto;
    background: rgb(63, 55, 55);
}

#accordion{
    width: 50%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
h1 {
    text-align: center;
    color:whitesmoke;
}
h1{
    text-align: center;
}
.widget{
    width: 50%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}